/* body { 
    background: url(/static/images/suitcase.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.app-bg {
    z-index: -999;
    bottom: 0;
    filter: alpha(opacity=20);
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
    -webkit-opacity: 0.9;
    -o-opacity: 0.5;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0;
    height: 100px;
    width: 100px;
    background: url(/static/images/struggle_v0.0.1.jpg);
    background-size: 100% 100%;
}

.card.c4r {
    font-family: 'Arial','Microsoft YaHei','黑体',sans-serif;
    /* color: #343a40; */
}

pre {
    font-family: SFMono-Regular, Menlo, Monaco, "Liberation Mono", "Courier New", monospace, Consolas, 'Microsoft YaHei','黑体';
    font-size: 1rem;
    color: white;
    margin-bottom: 0;
}

p.c4r {
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 1.5rem;
    color: #343a40;
}

p.c4r-year {
    color: white;
    font-size: 3rem;
    margin-bottom: 0;
}