body { 
    background: url(/static/images/ToBeWithYou.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.td-fix-height {
    max-height: 4rem;
    min-width: 6rem;
    overflow: auto;
}

.bx-color {
    background-color: #c9e8ded6;
}

.bx-font {
    font-family: 小单纯体;
}

p {
    margin-bottom: 0.5rem;
}

h4, h5 {
    margin-bottom: 1rem;
}