<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <title>{{ gettext("在线转化txt为mobi") }}</title>

    {# 标签logo #}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/c4r_logo.png') }}">      

	<script src="{{ url_for('static', filename='Scripts/jquery-3.3.1.js') }}"></script>		
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/AboutUsPage.css') }}" rel="stylesheet" type="text/css">	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/socket.io.js') }}"></script>		
    	
	<!-- our own scripts -->  
    <script src="{{ url_for('static', filename='Scripts/AboutUsPage.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    {# 广告 #}
 <!-- Begin BidVertiser code -->
 <!-- <SCRIPT data-cfasync="false" SRC="//bdv.bidvertiser.com/BidVertiser.dbm?pid=807493&bid=1944000" TYPE="text/javascript"></SCRIPT> -->
 <!-- End BidVertiser code --> 
    {# 添加谷歌分析 #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="{{ url_for('static', filename='js/googleAnalytics.js') }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-119134846-1');
    </script>
</head>


<body>
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-auto align-self-center">
                <h1 style="font-size:4rem; color:dimgray">About<span style="color:red">Us</span></h1>
            </div>
            <div class="col-auto align-self-end px-1">
                <p class="align-text-bottom">we are</p>
            </div>
            <div class="col-auto align-self-end px-1">
                <a href="{{url_for('AboutUsPage')}}">
                    <img  class="mb-3" src="{{ url_for('static', filename='images/c4r_logo.png') }}" width="30" height="30">
                </a>
            </div>
        </div>

        <div class="row bg-dark mb-4">
            <div class="col-auto">
                <pre>Connection established.</pre>
                <pre class="mb-4">To escape to local shell, press 'Ctrl+Alt+]'.</pre>
                <pre>Last login: Tue Jun 27 16:11:46 2017</pre>
                <pre>############################################</pre>
                <pre>#            欢迎来到c4r临时服务器            #</pre>
                <pre>#            我们的目标是星辰大海             #</pre>
                <pre>#------------------------------------------#</pre>
                <pre>#                                          #</pre>
                <pre>#==================英雄碑===================#</pre>
                <pre>#                                          #</pre>
                <pre>#于公元2016年2月23日19时31分，我们团队重要的一员 #</pre>
                <pre>#，"大小眼"，离世，享年1年（大概）。            #</pre>
                <pre>#它用自己生命诠释了坚韧不拔的精神，与环境保护的重  #</pre>
                <pre>#要性。感谢它为我们带来了欢乐。                 #</pre>
                <pre>#                                          #</pre>
                <pre>#..........................................#</pre>
                <pre>#愿后人能够继承前辈们的意志, 继续在油腻的世界里寻找#</pre>
                <pre>#==========================================#</pre>
                <pre>#                                          #</pre>
                <pre>#==================里程碑===================#</pre>
                <pre>#                                          #</pre>
                <pre>#于公元2016年4月24日00时08分，我们团队终于跨出了 #</pre>
                <pre>#重要的一步----拥有了自己的视频串流服务器。这是继 #</pre>
                <pre>#实现BT服务器后的又一次重大飞跃。本次主要贡献人：l#</pre>
                <pre>#                                          #</pre>
                <pre>#..........................................#</pre>
                <pre>#愿所有人能够坚持自己的理想, 在满是荆棘的世界里奋斗#</pre>
                <pre>#==========================================#</pre>
                <pre>#                                          #</pre>
                <pre>#==================通  知===================#</pre>
                <pre>#                                          #</pre>
                <pre>#     本服务器将于2017.05.20日左右遁入黑暗。    #</pre>
                <pre>#     请在此之前做好备份，再次开启日期未知，     #</pre>
                <pre>#     请做好永不开启的思想觉悟                 #</pre>
                <pre>#..........................................#</pre>
                <pre>#原未来的探索者发现我们的遗迹, 重启我们未完成的征程#</pre>
                <pre>#================删 档 维 护================#</pre>
                <pre>#                                          #</pre>
                <pre>#嘿！我是l。                                 #</pre>
                <pre>#现在是公元2017年6月27日, 本服务器c4r马上将停机维#</pre>
                <pre>#护。再开时间待定。                           #</pre>
                <pre>#管理员bs再过几个小时就要上天了。祝他一路顺风。   #</pre>
                <pre>#其他的曾经的用户们，大概还没来得及看到本通知。    #</pre>
                <pre>#但是管不了了。                              #</pre>
                <pre>#相信c4r还会回来的，毕竟他还有未完成的使命       #</pre>
                <pre>#（星辰大海什么的，不明所以）                   #</pre>
                <pre>#                                          #</pre>
                <pre>#..........................................#</pre>
                <pre>#但愿人长久，千里共婵娟                        #</pre>
                <pre>############################################</pre>
            </div>
        </div>
        <div class="row justify-content-start mb-4">
            <div class="col-md-9">
                <div class="card c4r">
                    <div class="card-body">
                        <h2 class="card-title">里程碑</h2>
                        <p class="card-text">嘿! 我是bs. <br>
                            于公元2018年04月17日, 为运行Txt2mobi项目, 重启了c4r服务器. 很高兴我们又回来了. 本次主要贡献人 : bs. <br>
                            但是在这段时间我们并没有空闲, 以无组织流浪者的身份开发了 : YoutubeFilter和网易云导出歌词两个浏览器插件.
                        </p>
                    </div>
                    <div class="card-footer">
                        愿我们坚持初衷, 不再投机倒把
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end mb-4">
            <div class="col-md-9">
                <div class="card c4r">
                    <div class="card-body">
                        <h2 class="card-title">里程碑</h2>
                        <p class="card-text">与公元2018年06月10日, c4r服务器添加P2P传送文件功能. 该功能会更加方便我们的日常交流.
                        </p>
                    </div>
                    <div class="card-footer">
                        愿我们能保持创意和实践的热情, 让纷繁的世界变得更简单.
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="center">
            <h1>欢迎来到c4r临时服务器</h1>
            <h1>我们的目标是星辰大海</h1>
            <hr> {# 消息类型 #}
            <h2>英雄碑</h2>
            {# 事件内容 #}
            <p>于公元2016年2月23日19时31分, 我们团队重要的一员, "大小眼", 离世, 享年1年(大概). 它用自己生命诠释了坚韧不拔的精神, 与环境保护的 重要性. 感谢它为我们带来了欢乐.</p>
            {# 祈愿 #}
            <p>愿后人能够继承前辈们的意志, 继续在油腻的世界里寻找</p>
            {# ================================================= #} {# 消息类型 #}
            <h2>里程碑</h2>
            {# 事件内容 #}
            <p>于公元2016年4月24日00时08分, 我们团队终于跨出了重 要的一步----拥有了自己的视频串流服务器. 这是继实现 BT服务器后的又一次重大飞跃. 本次主要贡献人 : l</p>
            {# 祈愿 #}
            <p>愿所有人能够坚持自己的理想, 在满是荆棘的世界里奋斗</p>
            {# ================================================= #} {# 消息类型 #}
            <h2>通知</h2>
            {# 事件内容 #}
            <p>本服务器将于2017.05.20日左右遁入黑暗. 请在此之前做好备份, 再次开启日期未知, 请做好永不开启的思想觉悟.
            </p>
            {# 祈愿 #}
            <p>原未来的探索者发现我们的遗迹, 重启我们未完成的征程</p>
            {# ================================================= #} {# 消息类型 #}
            <h2>删档维护</h2>
            {# 事件内容 #}
            <p>嘿! 我是l. 现在是公元2017年6月27日, 本服务器c4r马上将停机维护. 再开时间待定. 管理员bs再过几个小时就要上天了. 祝他一路顺风. 其他的曾经的用户们, 大概还没来得及看到本通知. 但是管不了了. 相信c4r还会回来的,
                毕竟他还有未完成的使命 ( 星辰大海什么的, 不明所以)</p>
            {# 祈愿 #}
            <p>但愿人长久, 千里共婵娟</p>
            {# ================================================= #} {# 消息类型 #}
            <h2>里程碑</h2>
            {# 事件内容 #}
            <p>嘿! 我是bs. 于公元2018年04月17日, 为运行Txt2mobi项目, 重启了c4r服务器. 很高兴我们又回来了. 本次主要贡献人 : bs. 但是在这段时间我们并没有空闲, 以无组织流浪者的身份开发了 : YoutubeFilter和网易云导出歌词两个浏览器插件.
            </p>
            {# 祈愿 #}
            <p>愿我们坚持初衷, 不再投机倒把</p>
            {# ================================================= #} {# 消息类型 #}
            <h2>里程碑</h2>
            {# 事件内容 #}
            <p>与公元2018年06月10日, c4r服务器添加P2P传送文件功能. 该功能会更加方便我们的日常交流.
            </p>
            {# 祈愿 #}
            <p>愿我们能保持创意和实践的热情, 让纷繁的世界变得更简单. </p>
            {# ================================================= #}
        </div> -->
    </div>
</body>
</html>  