<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <title>{{ gettext("Bibtex2Text") }}</title>

    {# 标签logo #}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/c4r_logo.png') }}">

    <script src="{{ url_for('static', filename='Scripts/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-v1.12.1.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="{{ url_for('static', filename='css/TransformEbook.css') }}" rel="stylesheet" type="text/css">	 -->

    <link href="{{ url_for('static', filename='css/jquery-ui-v1.12.1.css') }}" rel="stylesheet" type="text/css">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/popper-v1.12.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>


    <!-- our own scripts -->
    <script src="{{ url_for('static', filename='Scripts/BibtexPage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fuzzyset.js') }}"></script>

    <!-- ad scripts -->
    <!-- Begin BidVertiser code -->
    <!-- <SCRIPT data-cfasync="false" SRC="//bdv.bidvertiser.com/BidVertiser.dbm?pid=807493&bid=1943999" TYPE="text/javascript"></SCRIPT> -->
    <!-- End BidVertiser code -->
    <!-- Global ad -->
    <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6940136403546385",
            enable_page_level_ads: true
        });
    </script> -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119134846-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119134846-1');
    </script>


</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto align-self-center px-0">
                <h1 style="font-size:4rem; color:dimgray">Bibtex<span style="color:red">
                        <font>2</font>
                    </span>Cite</h1>
            </div>
            <div class="col-auto align-self-end px-1">
                <p class="align-text-bottom">Powered by</p>
            </div>
            <div class="col-auto align-self-end px-1">
                <a href="{{url_for('AboutUsPage')}}">
                    <img class="mb-3" src="{{ url_for('static', filename='images/c4r_logo.png') }}" width="30"
                        height="30">
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col align-self-end px-1">
                <p class="align-text-bottom" style="font-size:1.5rem;">
                    <!-- The website is still updating. Please use '<b>ctrl+F5</b>' to reload script.</p> -->
                    We are keeping improving this tool. </br>
                    Please use '<b>ctrl+F5</b>' frequently to load latest scripts.</p>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col">
                <div id="frameTextarear" class="input-group">
                    <textarea id="bibtex" rows="10" class="form-control rounded-0"
                        placeholder="paste Bibtex here. @article{...."></textarea>

                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Format</label>
                    </div>
                    <select class="custom-select" id="format">
                        <option value="APS">APS</option>
                        <option value="Nature Physics">Nature Physics</option>
                        <option value="customization">customization</option>
                    </select>
                    <div class="input-group-append">
                        <button id="confirm" class="btn btn-primary"> confirm </button>
                        <button id="clearBibtex" class="btn btn-outline-secondary"> clear Bibtex </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <a class="btn btn-link" href="http://ref.lexique.org/"> Bibtex to APA </a>
                <a class="btn btn-link" href="http://latex2png.com/"> Latex math to png</a>
            </div>
        </div>

        {# 尝试拖拽 #}
        <div class="row mb-3">
            <div class="col">
                <ul class="list-group" id="demo1">
                    <div class="list-group-item">Title</div>
                    <div class="list-group-item">issue/number</div>
                </ul>
            </div>
            <div class="col">
                <ul class="list-group mt-4" id="demo2">
                    <div class="list-group-item">auther</div>
                    <div class="list-group-item">Jornal</div>
                    <div class="list-group-item">volume</div>
                    <div class="list-group-item">page</div>
                    <div class="list-group-item">Year</div>
                </ul>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col">
                <div id="ref">
                    <div id="refError">

                    </div>
                    <hr>
                    <div class="input-group mb-3">
                        <a id="clearCite" class="btn btn-outline-primary"> clear Cite</a>
                    </div>
                    <div id="refList">

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- ad scripts -->
        <div class="row justify-content-center">
            <a href="https://www.seedboxco.net/?affiliate=727" target="_blank">
                <img src="https://www.seedboxco.net/img/banners/SBC.gif" width="100%">
            </a>
        </div>
    </div>
</body>

</html>