
<!DOCTYPE html>
<html>
    <head>
        <title>SimpleWebRTC Filetransfer Demo</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="WebRTC, peer to peer transfer files, 点对点传文件">

        <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7773252/764742/css/fonts.css" />
        <link rel="stylesheet" href="https://simplewebrtc.com/css/style.min.css">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/TransformEbook.css') }}" rel="stylesheet" type="text/css">	


        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <!-- <script src="https://simplewebrtc.com/latest-v3.js"></script> -->
        <script src="{{ url_for('static', filename='js/simplewebrtc.bundle.js') }}"></script>
        {# 标签logo #}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/c4r_logo.png') }}">

        {# 添加谷歌分析 #}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="{{ url_for('static', filename='js/googleAnalytics.js') }}"></script>        
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-119134846-1');
        </script>        

        <script src="{{ url_for('static', filename='Scripts/ChatPage.js') }}"></script>

        <style>
            li span {
                margin-right: 1em;
            }
        
            progress {
                margin-right: 1em;
                width: 50%;
            }
        
            li .filename {
                display: inline-block;
                width: 50%;
            }
        
            .peerContainer {
                margin-bottom: 1em;
            }
        
            .p2pChecking {
                background-color: #ffeed7;
            }
        
            .p2pConnected,
            .p2pCompleted {
                background-color: #12acef;
            }
        
            .p2pFailed {
                background-color: #ffe3eb
            }
        
            .p2pDisconnected {
                background-color: #ffeed7;
            }
        
            .p2pClosed {
                background-color: #f5f7f8;
            }
        
            .receiving a {
                color: #ec008c;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto align-self-center" >
                    <h1 onclick="window.location.href = '/'" style="font-size:4rem; color:dimgray">
                        <span style="color:red">Easy</span>Transfer</h1>
                </div>
                <div class="col-auto align-self-end px-1">
                    <p class="align-text-bottom">Powered by</p>
                </div>
                <div class="col-auto align-self-end px-1">
                    <a href="{{url_for('AboutUsPage')}}">
                        <img class="mb-3" src="{{ url_for('static', filename='images/c4r_logo.png') }}" width="30" height="30">
                    </a>
                </div>
            </div>
        
        
            <h2>The server is under maintenance...</h2>
            <h3>we recommand <a href='https://send.firefox.com/'>Firefox send</a></h3>

            <!-- <h2>分享房间链接后分享你的文件</h2>
            <h2>Share the link, then share your files</h2> -->
        
        
        
            <!-- <h3 id="title"></h3> -->
            <hr> 
            <!-- <form id="createRoom">
                <input id="sessionInput" />
                <button disabled type="submit">创建</button>
            </form>  -->
            <h3 id="subTitle"></h3>
            <p id="ownID"> </p>
        
        
        
            <hr>
            <!-- <p>添加/接收文件:</p> -->
            <div id="remotes"></div>
        
            <hr>
            <h3 >微信扫一扫支持我们 o(〃'▽'〃)o</h3>
            <div class="row justify-content-center">
                <div class="col-auto align-self-end px-1">
                    <img class="mb-3" src="{{ url_for('static', filename='images/wechat.png') }}" width="229" height="266">
                </div>
            </div>
        
            

            <div class="row justify-content-center my-4">
                <div class="col-md-9 bg-light">
                    <p>该网页基于
                            <a href="https://simplewebrtc.com/">simpleWebRTC</a>创建</p>
                    <p>欢迎在知乎给<a target="_blank" href="https://www.zhihu.com/people/c4rO-0/activities">我们</a>私信</p>
                </div>
            </div>      
        </div>




    </body>
</html>
