<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <title>{{ gettext("CoinData") }}</title>

    {# 标签logo #}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/c4r_logo.png') }}">

    <script src="{{ url_for('static', filename='Scripts/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-v1.12.1.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="{{ url_for('static', filename='css/TransformEbook.css') }}" rel="stylesheet" type="text/css">	 -->

    <link href="{{ url_for('static', filename='css/jquery-ui-v1.12.1.css') }}" rel="stylesheet" type="text/css">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/popper-v1.12.5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script> -->


    <!-- our own scripts -->
    <script src="{{ url_for('static', filename='Scripts/CoinDataPage.js') }}?v={{ jsV }}"></script>
    <link href="{{ url_for('static', filename='css/CoinDataPage.css') }}?v={{ jsV }}" rel="stylesheet" type="text/css">

    <style>
        .newFeaturesHide {
            transform: translate(100%, 0);
        }

        /* #sortable1 li, #sortable2 li{
            display: inline;
        } */

        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background: #e8e8e8;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #c0c0c0;
        }

        ::-webkit-scrollbar-track {
            background: #ffffff;
        }
    </style>


</head>

<body style="overflow-x: hidden">
    <div class="container">
        <!-- <div id="newFeatures" class="py-5 newFeaturesHide"
            style="position: fixed; right:0; height:100vh; width:23vw; min-width:256px; z-index: 4; transition: transform 0.5s ease;">
            <div onclick="toggleNewFeatures()" class="alert-primary px-2"
                style="position: absolute; left:0; transform-origin: 0 0; transform: rotate(90deg); border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem; cursor: pointer;">
                <p class="m-0">New Features</p>
            </div>

            {# ==================== update log =================== #}
            <div class="alert-secondary px-2" style="height: 100%; width: 100%; overflow-y: auto">
                <h3 class="text-center">2020.07.08</h3>
                <p>- try UI</p>
            </div>
        </div> -->

        <!-- title -->
        <div class="row justify-content-center">
            <div class="col-auto align-self-center px-0">
                <h1 onclick="window.location.href = '/'" style="color:dimgray">Coin<span style="color:red"><font>D</font></span>ata</h1>
            </div>
            <div class="col-auto align-self-end px-1">
                <p class="align-text-bottom">Powered by</p>
            </div>
            <div class="col-auto align-self-end px-1">
                <a href="{{url_for('AboutUsPage')}}">
                    <img class="mb-3" src="{{ url_for('static', filename='images/c4r_logo.png') }}" width="30"
                        height="30">
                </a>
            </div>
        </div>

        <!-- status -->
        <div class="container">
            <div class='row'>
                <div id='status' class="container px-0" style='width:20%'>
                    <button id='status-run' type="button" class="btn btn-block btn-success" style='height:100%'></button>
                    <button id='status-stop' type="button" class="btn btn-block btn-danger" style='height:100%'></button>
                </div>
                <!-- <p id='status-content'>content</p> -->
                <div id='billInfo-left' class="container px-0" style='width:40%'>
                    <div class="card text-center" style="font-size:2vw;height: 100%;">
                        <div class="card-body" style="height: 100%;">
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div id='billInfo-right' class="container px-0" style='width:40%'>
                    <div class="card text-center" style="font-size:2vw;height: 100%;">
                        <div class="card-body" style="height: 100%;">
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="container">                    
            <div class="row justify-content-center">
                <div id='info' class="container px-0" style='width:20%'>
                    <div class="card text-center" style="font-size:2vw;height: 100%;">
                        <div class="card-body" style="height: 100%;">
                            <span style="white-space: nowrap">Info</span>
                            <span id='n-eff' style="color:DarkGreen;white-space: nowrap">1.9</span>
                        </div>
                    </div>
                </div>
                <div id='price' class="container px-0" style='width:80%'>

                    <div id='n-eff-prg' class="progress" style="height: 15%;">

                        <div class="progress-bar progress-bar-striped bg-success-dark" role="progressbar"
                            style="width: 00%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            style="width: 00%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar progress-bar-striped bg-info-dark" role="progressbar"
                            style="width: 00%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 00%"
                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="50"></div>


                        <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                            style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>


                    </div>
                    <div class="card text-center" style="font-size:2vw;height: 85%;">
                        <div class="card-header" style="height: 100%;">
                            Featured
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div id='hook-order' class="container px-0" style='width:20%'>
                    <div class="col px-0"  style="height: 100%;">
                        <div class="card text-center" style="font-size:2vw;height: 100%;">
                            <div class="card-body" style="height: 100%;">
                                <span style="white-space: nowrap">
                                    Hook
                                </span>
                                <span id='hook-order-filled' style="color:DarkGreen;white-space: nowrap">24</span>
                                <span id='hook-order-last' style="color:DarkSlateBlue;white-space: nowrap">3m</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='p-hook-left' class="container px-0" style='width:40%'>
                    <div class="col px-0"  style="height: 100%;">
                        <div class="progress" style="transform: rotate(180deg);height: 15%;">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                        <div class="card text-center" style="font-size:2vw;height: 85%;">
                            <div class="card-body" style="height: 100%;">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='p-hook-right' class="container px-0" style='width:40%'>
                    <div class="col px-0" style="height: 100%;">
                        <div class="progress" style="height: 15%;">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 10%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card text-center" style="font-size:2vw;height: 85%;">
                            <div class="card-body" style="height: 100%;">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div id='av-order' class="container px-0" style='width:20%'>
                    <div class="col px-0">
                        <div class="card text-center" style="font-size:2vw;">
                            <div class="card-body">
                                <span>
                                    av
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='p-av-left' class="container px-0" style='width:40%'>
                    <div class="col px-0">
                        <div class="progress" style="transform: rotate(180deg);">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                        <div class="card text-center" style="font-size:2vw;">
                            <div class="card-body">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='p-av-right' class="container px-0" style='width:40%'>
                    <div class="col px-0">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 10%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card text-center" style="font-size:2vw;">
                            <div class="card-body">
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div id='nail-order' class="container px-0" style='width:20%'>
                    <div class="col px-0">
                        <div class="card text-center" style="font-size:2vw;height: 100%;">
                            <div class="card-body" style="height: 100%;">
                                <span style="white-space: nowrap">
                                    Nail
                                </span>
                                <span id='nail-order-filled' style="color:DarkGreen;white-space: nowrap">24</span>
                                <span id='nail-order-last' style="color:DarkSlateBlue;white-space: nowrap">3m</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='p-nail-left' class="container px-0" style='width:40%'>
                    <div class="col px-0">
                        <div class="progress" style="transform: rotate(180deg);">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                        <div class="progress" style="transform: rotate(180deg);">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            <div class="progress-bar progress-bar-striped bg-info-dark" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>

                        <div class="card text-center" style="font-size:2vw;height: 100%;">
                            <div class="card-body" style="height: 100%;">
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div id='buy-limit' class="progress" style="transform: rotate(180deg);">
                            <div class="progress-bar progress-bar-striped bg-success-dark" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100">
                                <span style="transform: rotate(180deg);">

                                </span>
                            </div>
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100">
                                <span style="transform: rotate(180deg);">
                                    
                                </span>
                            </div>
                        </div>
                        <div id='unpaired-buy' class="progress" style="transform: rotate(180deg);">
                                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                    style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <span style="transform: rotate(180deg);">
                                    
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
                <div id='p-nail-right' class="container px-0" style='width:40%'>
                    <div class="col px-0">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 10%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            <div class="progress-bar progress-bar-striped bg-info-dark" role="progressbar"
                                style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="card text-center" style="font-size:2vw;height: 100%;">
                            <div class="card-body" style="height: 100%;">
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div id='sell-limit' class="progress">
                            <div class="progress-bar progress-bar-striped bg-success-dark" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100">
                                <span>
                                    
                                </span>
                            </div>
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                aria-valuemax="100">
                                <span>
                                    
                                </span></div>
                        </div>
                        <div  id='unpaired-sell' class="progress">
                                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                                    style="width: 10%;float: right" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <span>
                                    
                                    </span>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container px-0" style='width:20%'>
                    <div class="col px-0">

                        <label for="inputState">symbol</label>
                        <select id="symbolList" class="form-control">
                            <option symbol='ethbtc' >ethbtc</option>
                            <option symbol='ethusdt' >ethusdt</option>
                        </select>
                        
                    </div>
                </div>
                <div class="container px-0" style='width:80%'>

                        <pre id='msg' class="col  px-0 bg-dark text-white" style='width:100%;white-space: pre-wrap;'>

                        
                                msg
                        </pre>


                </div>

            </div>
        </div>


</body>

</html>