<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ gettext("在线转化txt为mobi") }}</title>

    {# 标签logo #}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/c4r_logo.png') }}">
    
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='Scripts/jquery-3.3.1.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/ConfirmTransformEbook.css') }}" rel="stylesheet" type="text/css">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/socket.io.js') }}"></script>
    
    <!-- our own scripts -->

    <script src="{{ url_for('static', filename='Scripts/ConfirmTransformEbook.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    {# 广告 #}
    <!-- Begin BidVertiser code -->
    <!-- <SCRIPT data-cfasync="false" SRC="//bdv.bidvertiser.com/BidVertiser.dbm?pid=807493&bid=1944001" TYPE="text/javascript"></SCRIPT> -->
    <!-- End BidVertiser code -->
    {# 添加谷歌分析 #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119134846-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119134846-1');
    </script>

</head>

<body>
    <div class="container">

    {# 得到file #}
    {% set fileDict = J2SessionQueryFileUpload()  %}

    {#  下载  #}
    {# 含有 'bookCount' 说明已经转化完毕, 提供下载#}
    {% if 'bookCount' in fileDict.keys() %}
        <!-- <div class="row">
            <div class="col">
                <h2> 行行好点下广告吧, 网站要撑不住了 ( >﹏<。) </h2>
                <h3> 不要轻信广告内容, 点开就关上 </h3>
            </div>
        </div> -->
        <!-- <hr /> -->
      
        

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>  {{ fileDict['filename'].rsplit('.',1)[0] }} 转换完成</h1>
                <p> 单击"下载通道"进行下载；</p>
                {% if fileDict['bookCount'] == 1 %}
                    {# 只有一本书, 不需要在书名后加标号 #}
                    <li>
                        <a href={{ '/TransformDownloads/%s/project-1.mobi' % fileDict['saveFileName'] }} download={{ fileDict['filename'].rsplit('.',1)[0]+'.mobi' }}> 下载 {{fileDict['bookCount']}} </a>
                    </li>
                {% else %}
                    {% for i_book in range(1, fileDict['bookCount']+1) %}
                        <li>
                            <a href={{ '/TransformDownloads/%s/project-%d.mobi' % (fileDict['saveFileName'], i_book) }} download={{ fileDict['filename'].rsplit('.',1)[0]+'-%d.mobi' % i_book }}> 下载-第{{ i_book }}部分/共 {{fileDict['bookCount']}} </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <hr />
        <div class="row justify-content-center mb-5">
            <div class="col-auto">
                <a href="{{url_for('TransformEbook')}}" class="btn btn-outline-primary"> 继续转化</a>
            </div>
        </div>


        <hr />
        <h3 >微信扫一扫支持我们 o(〃'▽'〃)o</h3>
        <div class="row justify-content-center">
            <div class="col-auto align-self-end px-1">
                <img  class="mb-3" src="{{ url_for('static', filename='images/wechat.png') }}" width="229" height="266">
            </div> 
        </div>


    {% else %}  {# 没有 'bookCount' 说明还没有确认转化#}
        <div class="row justify-content-center mb-5">
            <div class="col-auto">
                <h1>  {{ fileDict['filename'].rsplit('.',1)[0] }} 检测目录</h1>
            </div>
        </div>


        {# -----------------#}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p>单击“确定目录”进行转换；</p>
                <p>若初始生成的目录中出现错误生成章节，可单击对应位置，此时章节显示灰色，再随后生成的mobi中即可删除此章节目录；</p>
                <p id="message" style="background-color:Tomato;"></p>
            </div>
        </div>

        {# -----------------#}
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h2>{{  gettext( "目录" ) }}</h2>
                    </div>
                    <div class="col-auto">
                        <button id="confirmTOCTransfer" class="btn btn-outline-primary">确定目录</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-7">
                <div id='TOC' class="c4r-TOC border p-3">
                    {{ TOC }}
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-5">
            <div class="col-md-8">
                <p>若生成目录不符，可更改通配符选择重新生成目录；</p>
                <form id="formTranTitle" method="POST" enctype="multipart/form-data">
                    {{ formTran.hidden_tag() }}
                    <div class="input-group">
                        {{ formTran.titleFilter(class="form-control", value=J2sessionQueryTitleFilter()) }}
                        <!-- <input type="text" class="form-control" placeholder="Recipient's username"> -->
                        <div class="input-group-append">
                            {{ formTran.confirmtitleFilter(class="btn btn-outline-secondary") }}
                            <button id="resetFilter" class="btn btn-outline-secondary">重置通配符</button>
                            <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
                        </div>
                    </div>
                    {% for error in formTran.titleFilter.errors %}
                    <div class="alert alert-danger" role="alert">
                        [{{error}}]
                    </div>
                    {% endfor %}
                </form>

              
            </div>
        </div>
    


        <form id="formTran" method="POST" enctype="multipart/form-data">
        {{ formTran.hidden_tag() }}

        {# 生成目录 目录不需要显示 #}
        {{ formTran.TOClistindex(style="display: none;") }}

        {# 因为在提交之前要做一些处理, 用confirmTOCTransfer替代#}

        {{ formTran.confirmTOC(style="display: none;") }}

            {% for error in formTran.confirmTOC.errors %}
            <div class="alert alert-danger" role="alert">
                [{{error}}]
            </div>
            {% endfor %}
        </form>
    {% endif %}
        <div class="row justify-content-center my-4">
            <div class="col-md-9 bg-light">
                <p>欢迎在知乎给<a target="_blank" href="https://www.zhihu.com/people/c4rO-0/activities">我们</a>私信</p>
            </div>
        </div>  
    </div>
</body>