{%extends 'NavBar.html.j2'%}

{%block head%}

<title>{{ gettext("Home of c4r") }}</title>
<!-- <script src="{{ url_for('static', filename='Scripts/TransformEbook.js') }}"></script> -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8342975253268992",
    enable_page_level_ads: true
  });
</script>
{%endblock%}

{%block body%}
<div class="container">
    <div class="row justify-content-center">
        {# ====================== #}
        <div class="col-md-auto">
            <div class="card mt-5" style="width:292px">
                {# 缩略图 #}
                <img class="card-img-top" src="{{ url_for('static', filename='images/404.png') }}" alt="Card image cap">
                <div class="card-body">
                    {# 标题 #}
                    <h5 class="card-title">在线转化txt为mobi</h5>
                    {# 概述 #}
                    <p class="card-text">旨在为用户提供免费便捷的文件格式转换功能. txt → mobi（可自动生成目录）</p>
                    <a href="{{ url_for('TransformEbook') }}" class="btn btn-primary">我们走</a>
                </div>
            </div>
        </div>


        {# ====================== #}
        <div class="col-md-auto">
            <div class="card mt-5" style="width:292px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/wangYi.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://www.zhihu.com/question/31816805/answer/347366850" class="btn btn-primary">我们走</a>
                </div>
            </div>
        </div>

        {# ====================== #}
        <div class="col-md-auto">
            <div class="card mt-5" style="width:292px">
                <img class="card-img-top" src="{{ url_for('static', filename='images/youTubeFilter.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://github.com/c4rO-0/YouTube-Filter" class="btn btn-primary">我们走</a>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}