{%extends 'NavBar.html.j2'%}

{%block head%}

<title>{{ gettext("在线转化txt为mobi") }}</title>
<script src="{{ url_for('static', filename='Scripts/TransformEbook.js') }}"></script>
{%endblock%}

{%block body%}


{% if not formTran.filename  %}
<form id="formUpload" method="POST" enctype="multipart/form-data">
<h1>{{ gettext( "上传" ) }}</h1>
    {{ form.hidden_tag() }}
    {{ form.file }}
    {# 提交按钮 #}
    {{ form.upload }}
    {# 输出错误 #}
    {% for error in form.file.errors %}
    <div class="alert alert-danger" role="alert">
        [{{ error }}]
    </div>
    {% endfor %}
</form>
{% else %}
<form id="formUpload" method="POST" enctype="multipart/form-data">
<h1>{{  gettext( "重新上传" ) }}</h1>
    {{ form.hidden_tag() }}
    {{ form.file }}
    {# 提交按钮 #}
    {{ form.upload }}
    {# 输出错误 #}
    {% for error in form.file.errors %}
    <div class="alert alert-danger" role="alert">
        [{{ error }}]
    </div>
    {% endfor %}
</form>

<h1>{{  gettext( "书名" ) }}</h1>
<p> {{ formTran.filename }} </p>
<p> {{ formTran.filePath }} </p>

<form id="formTran" method="POST" enctype="multipart/form-data">
{{ formTran.hidden_tag() }}
{# 提交按钮 #}
{{ formTran.transform }}
{% for error in formTran.transform.errors %}
<div class="alert alert-danger" role="alert">
    [{{error}}]
</div>
{% endfor %}
</form>
{% endif %}

{#====================================
<div class="progress" style="display: none;">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        0% 
    </div> 
</div>
=====================================#}


{%endblock%}