<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <title>{{ gettext("在线转化txt为mobi") }}</title>

    {# 标签logo #}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/c4r_logo.png') }}">

    <script src="{{ url_for('static', filename='Scripts/jquery-3.3.1.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/TransformEbook.css') }}?v={{ jsV }}" rel="stylesheet"
        type="text/css">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/csi.min.js') }}"></script>

    <!-- our own scripts -->
    <script src="{{ url_for('static', filename='Scripts/TransformEbook.js') }}?v={{ jsV }}"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    {# 广告 #}
    <!-- Begin BidVertiser code -->
    <!-- <SCRIPT data-cfasync="false" SRC="//bdv.bidvertiser.com/BidVertiser.dbm?pid=807493&bid=1944000" TYPE="text/javascript"></SCRIPT> -->
    <!-- End BidVertiser code -->
    {# 添加谷歌分析 #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119134846-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119134846-1');

        let diskAvail = '{{ diskAvail }}';
        let diskUsage = '{{ diskUsage }}'

    </script>

</head>

<body style="overflow-x: hidden" onclick="hideNewFeature(event)">
    {# 得到file #}
    {% set fileDict = J2SessionQueryFileUpload() %}
    <div class="container">
        <div id="newFeatures" class="py-5 newFeaturesHide"
            style="position: fixed; right:0; height:100vh; width:23vw; min-width:256px; z-index: 4; transition: transform 0.5s ease;">
            <div onclick="toggleNewFeatures()" class="alert-primary px-2"
                style="position: absolute; left:0; transform-origin: 0 0; transform: rotate(90deg); border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem; cursor: pointer;">
                <p class="m-0">New Features</p>
            </div>

            {# ==================== update log =================== #}
            <div class="alert-secondary px-2" style="height: 100%; width: 100%; overflow-y: auto">
                <h3 class="text-center">2020.4.21</h3>
                <p>- 自动转码</p>
                <h3 class="text-center">2020.4.22</h3>
                <p>- 多服务器跳转</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto align-self-center">
                <h1 onclick="window.location.href = '/'" style="font-size:4rem; color:dimgray">txt<span style="color:red">2</span>mobi</h1>
            </div>
            <div class="col-auto align-self-end px-1">
                <p class="align-text-bottom">Powered by</p>
            </div>
            <div class="col-auto align-self-end px-1">
                <a href="{{url_for('AboutUsPage')}}">
                    <img class="mb-3" src="{{ url_for('static', filename='images/c4r_logo.png') }}" width="30"
                        height="30">
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-7">
                <h5> txt转mobi(kindle识别的格式),可自动生成目录 </h5>
                <!-- <p>使用说明：</p>
                <p>单击"浏览"选择txt文件，点击"提交"开始上传</p>
                <p>上传和初步处理后核实目录, 完成转化</p> -->
            </div>
        </div>
        <form id="formUpload" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% if diskAvail > 1048576 %}
            <div class="row justify-content-center">
                <div class="col-md-7 align-self-center">
                    <div class="input-group mb-3 border border-primary rounded">
                        <div class="input-group-prepend">
                            <span class="input-group-text">上传</span>
                        </div>
                        <div class="custom-file">
                            {{ form.file(id="fileUpload", class="custom-file-input", accept='text/plain') }}
                            <!-- <input type="file" class="custom-file-input" id="fileUpload"> -->
                            <label class="custom-file-label" id="" for="fileUpload">选择文件</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">作者</span>
                        </div>
                        {{ form.author(class="form-control", placeholder=gettext("作者(选填)")) }}
                        <!-- <input type="text" class="form-control" placeholder="选填" aria-label="Recipient's username" aria-describedby="basic-addon2"> -->
                    </div>
                </div>

            </div>


            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="input-group mb-3">
                        {{ form.upload(class="btn btn-outline-primary btn-lg", value="我已阅读用户协议并同意, 开始上传") }}
                        <!-- <input class="btn btn-outline-primary btn-lg" type="submit" value="Submit"> -->
                    </div>
                </div>
            </div>

            {% else %}
            <div class="alert alert-danger" role="alert">
                [该服务器目前不可用, 请稍后再试或使用其他服务器]
            </div>
            {% endif %}
            {% for error in form.file.errors %}
            <div class="alert alert-danger" role="alert">
                [{{error}}]
            </div>
            {% endfor %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                [{{error}}]
            </div>
            {% endif %}
        </form>
        <!-- <form id="formUpload" method="POST" enctype="multipart/form-data">
        <h1>{{ gettext( "上传" ) }}</h1>
        {{ form.hidden_tag() }}
        {{ form.file }}
        <br>
        {# 作者 #}
        {{ form.author(type="text", placeholder=gettext("作者(选填)")) }}
        <br>
        {# 提交按钮 #}
        {{ form.upload }}
        <br>
        {# 输出错误 #}
        {% for error in form.file.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </form> -->
        <div class="row justify-content-center">
            <div class="col-md-7">
                <p class="btn bg-light">服务器列表</p>
                <p class="btn" id='server-suggest'></p>
                <div class="mb-3 bg-light" id='server-list'>
                </div>
            </div>

        </div>

        <div class="row justify-content-center my-4">
            <div class="col-md-9 bg-light">
                <p>
                    电子书将会在服务器上保留4小时后删除. 
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                        data-target="#TermsOfService">
                        >>完整用户协议<<
                    </button>
                </p>
                <!-- Modal -->
                <div class="modal fade" id="TermsOfService" tabindex="-1" role="dialog"
                    aria-labelledby="TermsOfServiceTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <h5 class="modal-title" id="TermsOfServiceTitle">TermsOfService</h5> -->
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body"
                                data-include="{{ url_for('static', filename='html/TermsOfService.html') }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="color:rgb(129, 3, 3)">电子书只支持utf-8的txt文本, 如果提交后弹出错误, 请先手动转化为utf-8.
                    <a target="_blank" href="https://subtitletools.com/convert-text-files-to-utf8-online">-->点我进行跳转<--</a>
                </p>
                <div class="w-100"></div>
                <p style="color:#b36b01">随着用户增多, 最近服务器有些不堪重负, 请大家善待它.</p>
                <!-- <div id='hard-disk' class="progress">
                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar"
                        style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar progress-bar-striped " role="progressbar"
                        style="width: 20%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>

                </div> -->
            </div>

        </div>
        <div class="row justify-content-center my-4">
            <div class="col-md-9 bg-light">
                <p>欢迎在知乎给<a target="_blank" href="https://www.zhihu.com/people/c4rO-0/activities">我们</a>私信</p>
            </div>
        </div>

    </div>



    {#====================================
    <div class="progress" style="display: none;">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            0%
        </div>
    </div>
    =====================================#}
</body>

</html>